/* Project Experience Section */

#project-experience {
    background-color: #1c1e2e;
    color: white;
    padding: 80px 0;
    text-align: center;
}

.project-container {
    max-width: 1000px;
    margin: auto;
}


/* Title */

.section-title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: left;
    color: #ffd700;
}


/* Project List */

.project-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


/* Project Card */

.project-card {
    background-color: #3b3d56;
    padding: 20px;
    border-radius: 10px;
    color: white;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    text-align: left;
    position: relative;
    padding-bottom: 50px;
}

.project-card:hover {
    transform: translateY(-5px);
}


/* Project Header */

.project-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.project-header h3 {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

.project-date {
    font-size: 16px;
    font-weight: 400;
    color: #ffd700;
}


/* Project Description */

.project-description {
    font-size: 16px;
    font-weight: 400;
    color: #ddd;
    margin-bottom: 5px;
    text-align: justify;
}


/* Pastikan indikator berada di luar gambar */

.carousel-indicators-container {
    position: relative;
    text-align: center;
    margin-top: 10px;
    /* Jarak dari gambar */
}

.carousel-indicators-container button {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid black;
    transition: background-color 0.3s ease, transform 0.2s ease;
    cursor: pointer;
    margin: 0 5px;
}

.carousel-indicators-container .active {
    background-color: white;
    width: 14px;
    height: 14px;
    transform: scale(1.2);
}

.carousel-indicators-container button:hover {
    background-color: white;
    transform: scale(1.3);
}

@media (max-width: 768px) {
    .project-container {
        text-align: center;
    }
    .project-card {
        text-align: left;
        padding: 15px;
    }
}